/* ===== 작성자: 오수경 ===== */

/* ===== 인기 후기 ===== */
.popular-reviews {
    padding: 40px 80px;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--main-0);
}

.no-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 14px;
  color: var(--gray-500);
}


/* 캐러셀 전체 */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 카드 컨테이너 */
.carousel-track-container {
    overflow: hidden;
    width: 60%;
}

/* 트랙 */
.carousel-track {
    display: flex;
    gap: 36px;
    margin: 40px;
    transition: transform 0.3s ease-in-out;
}

/* 버튼 */
.carousel-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0px 16px;
    font-size: 20px;
    border-radius: 50%;
    color: var(--main-700);
    background-color: white;
    border: 1px solid var(--main-700);
}

/* 카드 */
.review-card {
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    /* transform과 box-shadow가 부드럽게 변하는 애니메이션 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* flex: <grow> <shrink> <basis> */
    flex: 0 0 calc((100% - 48px) / 3);
    text-decoration: none;
}

/* 카드에 마우스 가져다댔을 때 */
.review-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px var(--main-500);
}

/* 카드 상단: 썸네일 */
.review-card .thumbnail {
    width: 100%;
    height: 190px;
    border-radius: 10px 10px 0 0;
    background-color: var(--gray-100);
    object-fit: cover;
}

/* 카드 하단: 텍스트 영역 */
.review-card .info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 나라 */
.review-card .info .country {
    font-size: 12px;
    color: var(--gray-400);
    font-weight: var(--font-medium);
}

/* 제목 */
.review-card .info .title {
    font-size: 16px;
    color: var(--gray-900);
    font-weight: var(--font-semibold);
}

/* 날짜 */
.review-card .info .date {
    font-size: 12px;
    margin-top: 10px;
    color: var(--gray-200);
    font-weight: var(--font-medium);
}

/* 인디케이터 */
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--gray-200);
}

.dot.active {
    background-color: var(--main-700);
}
