<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 작성자: 오수경 -->

<mapper namespace="com.oneplane.country.dao.CarbonEmissionDao">

    <!-- 단일 연도 탄소 배출량 조회 -->
    <select id="findByCountryAndYear" parameterType="map" resultType="map">
        SELECT ce.year,
        ce.value
        FROM carbon_emission ce
        JOIN country c ON ce.country_id = c.country_id
        WHERE c.iso_code = #{isoCode}
        AND ce.year = #{year}
    </select>

</mapper>
