<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneplane.country.dao.CountryDao">

    <select id="findByName" parameterType="string" resultType="com.oneplane.country.domain.Country">
        SELECT country_id   AS countryId,
        country_name AS countryName,
        country_en_name AS countryEnName,
        iso_code     AS isoCode,
        continent,
        img
        FROM country
        WHERE country_name = #{name}
        OR country_en_name = #{name}
    </select>

    <select id="findByIsoCode" parameterType="string" resultType="com.oneplane.country.domain.Country">
        SELECT country_id   AS countryId,
        country_name AS countryName,
        country_en_name AS countryEnName,
        iso_code     AS isoCode,
        continent,
        img
        FROM country
        WHERE iso_code = #{isoCode}
    </select>

    <select id="findCountryInfo" parameterType="string" resultType="com.oneplane.recommend.dto.RecommendResultDTO">
        SELECT continent,
        img AS countryImg
        FROM country
        WHERE iso_code = #{isoCode}
    </select>

    <select id="findCountryIdByIsoCode" parameterType="string" resultType="java.lang.Integer">
        SELECT country_id
        FROM country
        WHERE iso_code = #{isoCode}
    </select>

    <select id="findCountryIdByCurrency" parameterType="string" resultType="long">
        SELECT country_id
        FROM country
        WHERE currency = #{curUnit}
    </select>

</mapper>
