<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneplane.country.dao.CountryDao">

    <select id="findByName" parameterType="string" resultType="com.oneplane.country.domain.Country">
        SELECT country_id   AS countryId,
        country_name AS countryName,
        country_en_name AS countryEnName,
        iso_code     AS isoCode,
        continent,
        img
        FROM country
        WHERE country_name = #{name}
        OR country_en_name = #{name}
    </select>

    <select id="findByIsoCode" parameterType="string" resultType="com.oneplane.country.domain.Country">
        SELECT country_id   AS countryId,
        country_name AS countryName,
        country_en_name AS countryEnName,
        iso_code     AS isoCode,
        continent,
        img
        FROM country
        WHERE iso_code = #{isoCode}
    </select>

    <select id="findCountryInfo" parameterType="string" resultType="com.oneplane.recommend.dto.RecommendResultDTO">
        SELECT continent,
        img AS countryImg
        FROM country
        WHERE iso_code = #{isoCode}
    </select>

    <select id="findCountryIdByIsoCode" parameterType="string" resultType="java.lang.Integer">
        SELECT country_id
        FROM country
        WHERE iso_code = #{isoCode}
    </select>

    <select id="findCountryIdsByCurrency" parameterType="string" resultType="long">
        SELECT country_id
        FROM country
        WHERE currency = #{curUnit}
    </select>

    <select id="findCountries" resultType="com.oneplane.alert.dto.CountryAlertDTO">
        SELECT c.country_id      AS countryId,
        c.country_name    AS countryName,
        c.country_en_name AS countryEnName,
        c.iso_code        AS isoCode,
        a.level_value     AS levelValue
        FROM country c
        LEFT JOIN alert_level a
        ON c.country_id = a.country_id
        WHERE 1=1
        <if test="levelValue != null and levelValue != ''">
            AND a.level_value = #{levelValue}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (c.country_name LIKE '%' || #{keyword} || '%'
            OR c.country_en_name LIKE '%' || #{keyword} || '%'
            OR c.iso_code LIKE '%' || #{keyword} || '%')
        </if>
        ORDER BY c.country_name
    </select>

    <select id="findCountryById" parameterType="long" resultType="com.oneplane.alert.dto.CountryAlertDTO">
        SELECT c.country_id AS countryId,
               c.country_name AS countryName,
               c.country_en_name AS countryEnName,
               c.iso_code AS isoCode,
               c.img as countryImg,
               a.level_value AS levelValue
        FROM country c
                 LEFT JOIN alert_level a ON c.country_id = a.country_id
        WHERE c.country_id = #{countryId}
    </select>

    <update id="updateCountryAdmin" parameterType="com.oneplane.alert.dto.CountryAlertDTO">
        UPDATE country
        SET country_name = #{countryName},
            country_en_name = #{countryEnName},
            iso_code = #{isoCode}
        WHERE country_id = #{countryId}
    </update>

    <update id="updateCountryLevel" parameterType="com.oneplane.alert.dto.CountryAlertDTO">
        UPDATE alert_level
        SET level_value = #{levelValue}
        WHERE country_id = #{countryId}
    </update>
</mapper>
