<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneplane.post.mapper.PostMapper">


    <!-- 내가 작성한 게시글 전체 조회 -->
    <select id="selectPostsByAuthor"
            parameterType="int"
            resultType="com.oneplane.post.domain.Post">
        SELECT *
        FROM posts
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

            <!-- 내가 작성한 게시글 카테고리별 조회 -->
    <select id="selectPostsByAuthorAndCategory" parameterType="map" resultType="Post">
    SELECT *
    FROM posts
    WHERE user_id  = #{userId}
    AND category = #{category}
    ORDER BY created_at DESC
    </select>

            <!-- 팔로워가 작성한 게시글 전체 조회 -->
    <select id="selectPostsByFollowers"
            parameterType="int"
            resultType="com.oneplane.post.domain.Post">
    SELECT p.*
    FROM posts p
    JOIN friends f
    ON p.user_id = f.following_id
    WHERE f.follower_id = #{userId}
    AND p.deleted_at IS NULL
    ORDER BY p.created_at DESC
    </select>

            <!-- 팔로워가 작성한 게시글 카테고리별 조회 -->
    <select id="selectPostsByFollowersAndCategory"
            parameterType="map"
            resultType="com.oneplane.post.domain.Post">
    SELECT p.*
    FROM posts p
    JOIN friends f
    ON p.user_id = f.following_id
    WHERE f.follower_id = #{userId}
    AND p.category   = #{category}
    AND p.deleted_at IS NULL
    ORDER BY p.created_at DESC
    </select>
</mapper>