<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneplane.recommend.repository.RecommendRepository">

    <!-- 동의 저장 -->
    <insert id="insertAgreement" parameterType="int">
        INSERT INTO recommend (user_id, agreement, created_at)
        VALUES (#{userId}, 'Y', SYSDATE)
    </insert>

    <!-- 최근 동의 여부 확인 -->
    <select id="findLatestAgreement" parameterType="int" resultType="string">
        SELECT agreement
        FROM recommend
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
            FETCH FIRST 1 ROWS ONLY
    </select>

    <!-- 국가 선택 INSERT -->
    <insert id="insertSelection" parameterType="com.oneplane.recommend.dto.RecommendDTO">
        INSERT INTO recommend (
            user_id, country_id, travel_purpose, companion, created_at
        ) VALUES (
                     #{userId}, #{countryId}, #{travelPurpose}, #{companion}, SYSDATE
                 )
    </insert>

    <!-- 피드백 INSERT -->
    <insert id="insertFeedback" parameterType="com.oneplane.recommend.dto.RecommendDTO">
        INSERT INTO recommend (
            user_id, recommend_rating, rating_content, created_at
        ) VALUES (
                     #{userId}, #{recommendRating}, #{ratingContent}, SYSDATE
                 )
    </insert>

</mapper>