<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneplane.recommend.repository.RecommendRepository">

    <!-- 동의 저장 -->
    <insert id="insertAgreement" parameterType="int">
        INSERT INTO recommend (user_id, agreement, created_at)
        VALUES (#{userId}, 'Y', SYSDATE)
    </insert>

    <!-- 최신 recommend_id 정보 조회 -->
    <select id="getLatestRecommend" parameterType="int" resultType="com.oneplane.recommend.dto.RecommendDTO">
        SELECT recommend_id,
               user_id,
               agreement,
               travel_purpose AS travelPurpose,
               companion
        FROM recommend
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
            FETCH FIRST 1 ROWS ONLY
    </select>

    <!-- 여행 목적 + 동행자 업데이트 -->
    <insert id="insertInput" parameterType="com.oneplane.recommend.dto.RecommendDTO">
        INSERT INTO recommend (user_id, agreement, travel_purpose, companion, created_at)
        VALUES (#{userId}, 'Y', #{travelPurpose}, #{companion}, SYSDATE)
    </insert>

    <!-- country, city 업데이트 -->
    <update id="updateCountryAndCity">
        UPDATE recommend
        SET country_id = #{countryId},
            city = #{city}
        WHERE recommend_id = #{recommendId}
    </update>

    <!-- 피드백 업데이트 -->
    <update id="updateFeedback">
        UPDATE recommend
        SET recommend_rating = #{recommendRating},
            rating_content = #{ratingContent}
        WHERE recommend_id = #{recommendId}
    </update>

    <!-- 추천 이력 조회 쿼리 (Oracle 페이징 처리) -->
    <select id="findRecommendHistoryByUserId" resultType="com.oneplane.recommend.dto.RecommendResultDTO">
        SELECT *
        FROM (
                 SELECT
                     r.recommend_id AS recommendId,
                     r.travel_purpose AS travelPurpose,
                     r.companion AS companion,
                     r.recommend_rating AS recommendRating,
                     r.rating_content AS ratingContent,
                     r.created_at AS createdAt,
                     r.country_id AS countryId,
                     r.city AS city,
                     c.country_name AS countryNameKo,
                     c.continent AS continent,
                     c.img AS countryImg,
                     c.iso_code AS isoCode,
                     ROW_NUMBER() OVER (ORDER BY r.created_at DESC) AS rn
                 FROM recommend r
                          JOIN country c ON r.country_id = c.country_id
                 WHERE r.user_id = #{userId}
                   AND r.recommend_id IS NOT NULL
                   AND r.country_id IS NOT NULL
                   AND r.travel_purpose IS NOT NULL
                   AND r.companion IS NOT NULL
                   AND r.recommend_rating IS NOT NULL
                   AND r.rating_content IS NOT NULL
                   AND r.deleted_at IS NULL
             )
        WHERE rn BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <!-- 추천 이력 데이터의 총 개수 조회 -->
    <select id="getTotalRecommendHistoryCount" resultType="int">
        SELECT COUNT(*)
        FROM recommend
        WHERE user_id = #{userId}
          AND recommend_id IS NOT NULL
          AND user_id IS NOT NULL
          AND country_id IS NOT NULL
          AND travel_purpose IS NOT NULL
          AND companion IS NOT NULL
          AND recommend_rating IS NOT NULL
          AND rating_content IS NOT NULL
          AND deleted_at IS NULL
    </select>

    <select id="getTopRecommendCountries" resultType="com.oneplane.travelHistory.dto.TopCountryStatsDTO">
        SELECT c.country_name AS countryName,
               COUNT(r.recommend_id) AS count
        FROM recommend r
            JOIN country c ON r.country_id = c.country_id
        WHERE r.deleted_at IS NULL
        GROUP BY c.country_name
        ORDER BY count DESC
            FETCH FIRST 10 ROWS ONLY
    </select>

    <!-- softDelete -->
    <update id="softDeleteRecommend" parameterType="map">
        UPDATE recommend
        SET deleted_at = SYSDATE
        WHERE recommend_id = #{recommendId}
        AND user_id = #{userId}
    </update>

    <update id="softDeleteRecommendMyPage" parameterType="java.lang.Long">
        UPDATE RECOMMEND
        SET DELETED_AT = SYSDATE
        WHERE RECOMMEND_ID = #{recommendId}
        AND deleted_at IS NULL
    </update>

</mapper>